$color-white: #fff;
$color-yellow: #ffe06b;
$color-black: #000;
$bg-main: #eff1f7;
$adjustment-factor: 30px;


$color-primary: hsl(180, 66%, 49%);
$color-primary-hover: #9ae3e3;  
$color-primary-2: hsl(257, 27%, 26%);

$color-secondary: hsl(0, 87%, 67%);

$color-gray: hsl(0, 0%, 75%);
$color-gray--2: hsl(257, 7%, 63%);   
$color-darkBlue: hsl(255, 11%, 22%);    
$color-darkViolet: hsl(260, 8%, 14%); 


$font-primary: 'Poppins', sans-serif;