.shortlinks-section {
    position: relative;

    @media #{$break2},
    #{$break3},
    #{$break4} {
        top: -84px;
        margin-bottom: 120px;
    }

    @media #{$break1} {
        top: -78px;
        margin-bottom: 80px;
    }

    &__box {
        background-color: #3a3054;
        background-repeat: no-repeat;
        border-radius: 10px;

        @media #{$break2},
        #{$break3},
        #{$break4} {
            padding: 52px 64px;
            background-image: url('./img/bg-shorten-desktop.svg');
            max-height: 168px;


        }

        @media #{$break1} {
            background-image: url('./img/bg-shorten-mobile.svg');
            background-position: top right;
            height: auto;

            padding: 24px;
        }

        .input-group {



            @media #{$break2},
            #{$break3},
            #{$break4} {
                align-items: center;
            }

            @media #{$break1} {
                flex-direction: column;

            }
        }

        .form-control {
            color: $color-darkBlue;
            letter-spacing: 0.15px;


            background-color: #ffffff;
            border-radius: 10px !important;
            border-color: transparent !important;



            @media #{$break2},
            #{$break3},
            #{$break4} {
                height: auto;
                font-size: 20px;
                padding: 14px 32px;
            }

            @media #{$break1} {
                height: 48px;
                width: 100%;

                padding: 8px 16px;
                margin-bottom: 16px;

                font-size: 16px;
            }

            &--error {
                border: 3px solid $color-secondary !important;

                &::placeholder {
                    color: $color-secondary;
                }

                @media #{$break1} {
                    margin-bottom: 0;
                }
            }

            &:focus {
                outline: none !important;
                box-shadow: none !important;
            }

        }
    }

    &__list-container {
        display: flex;
        flex-direction: column-reverse;
    }

    &__shortedlink {
        display: flex;
        

        background-color: $color-white;
        border-radius: 5px;
        margin-top: 24px;

        @media #{$break2},
        #{$break3},
        #{$break4} {
            justify-content: center;
            align-items: center;

            
            // margin-left: auto;
            // margin-right: auto;
            height: 72px;
        }

        @media #{$break1} {
            flex-direction: column;
            height: 155px;

            padding: 0 16px;
        }

        hr {

            @media #{$break1} {
                width: 100%;
                margin: 10px auto;
            }

        }


        &--original {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
            color: $color-darkBlue;

            @media #{$break2},
            #{$break3},
            #{$break4} {
                max-width: 560px;
                margin: 18px 32px;
            }


            @media #{$break1} {
                max-width: 90%;
                margin-top: 11.5px;

            }
        }

        &--shorted {
            color: $color-primary;

            @media #{$break2},
            #{$break3},
            #{$break4} {
                margin-left: auto;
            }

            @media #{$break1} {
                margin-top: 1.8px;
                margin-bottom: 20px;
            }
        }

        // Shared Styles^
        &--original,
        &--shorted {
            font-weight: 500;

            @media #{$break2},
            #{$break3},
            #{$break4} {
                letter-spacing: 0.15px;
                font-size: 20px;
            }

            @media #{$break1} {
                font-size: 16px;
                letter-spacing: 0.12px;
            }
        }

        &--btn {

            @media #{$break2},
            #{$break3},
            #{$break4} {
                margin-left: 36px;
                margin-right: 24px;
            }

        }
    }

    &__error-message {
        color: $color-secondary;
        font-style: italic;



        @media #{$break2},
        #{$break3},
        #{$break4} {
            margin-top: 8px;
            font-size: 16px;
            letter-spacing: 0.11px;
        }

        @media #{$break1} {
            margin-top: 4px;
            margin-bottom: 16px;

            font-size: 12px;
            letter-spacing: 0.08px;
        }
    }

    .input-group-append {
        @media #{$break1} {
            width: 100%;
            align-self: center;
        }
    }
}